.btn-link {
  text-decoration: none;
  color: #0d6efd;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.btn-link:hover, .btn-link:focus {
  color: #0b5ed7;
  text-decoration: none;
  background-color: #e7f1ff;
}


@media (max-width: 576px) {
  .btn-link {
      font-size: 0.9rem;
      padding: 0.4rem 0.9rem;
  }
}

