.completed {
  text-decoration: line-through;
}

.todo-list-container {
  max-width: 600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}


.item-count {
  font-weight: bold;
  margin-bottom: 10px;
}


/* delete button effects  */


.list-group-item {
  position: relative;
}

.list-group-item button {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.list-group-item:hover button {
  display: block;
}


