<app-header></app-header>

<div class="container mt-4">
  <!-- Form for adding new To-Do items -->
  <form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="input-group mb-3">
    <input
      type="text"
      formControlName="taskTitle"
      class="form-control"
      placeholder="Enter a new task"
      aria-label="New task"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-primary"
      type="submit"
      id="button-addon2"
      [disabled]="!todoForm.valid"
    >
      Add Task
    </button>
  </form>

  <p class="item-count">Total Items: {{ todos.length }}</p>

  <!-- List of To-Do items -->
  <ul class="list-group">
    <li style="border: 3px solid red;"
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let todo of todos"
      (mouseenter)="hoveringOverItem = todo"
      (mouseleave)="hoveringOverItem = null"
    >
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="todo.isCompleted"
          (change)="todo.isCompleted = !todo.isCompleted"
        />
        <label
          class="form-check-label"
          [class.text-decoration-line-through]="todo.isCompleted"
        >
          {{ todo.title }}
        </label>
      </div>
      <button
        *ngIf="hoveringOverItem === todo"
        class="btn btn-sm"
        (click)="deleteTodo(todo)"
      >
        <i class="fa-solid fa-trash-can" style="color: #f00000"></i>
      </button>
    </li>
  </ul>
</div>



<app-deleted-todos></app-deleted-todos>
